@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400&family=Dosis:wght@300;400&family=Laila:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Philosopher&family=Poppins:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap');
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 250px;
  padding-top: 100px;
  flex-direction: column;
  user-select: none;
  margin-bottom: 100px;
}
.section-head {
  font-family: "Catamaran", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.7rem;
  width: 100%;
}

.contact-info{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 160px;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}

.availaibles{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.social-head{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    
  color: #ffffffd8;
}

.handle-links{
    padding-top: 10px;
    padding-left: 30px;
}
.handle-links > a{
    padding-right: 30px;
}

.contact-num{
    user-select:text;
    opacity: 0.7;
    color: #fff;
}

.youtube{
    display: flex;
    flex-direction: column;
    gap: 7px;flex-wrap: wrap;
}
.youtube-desc{
    padding-left: 30px;
    width: 80%;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    word-wrap: break-word;
    font-family: sans-serif;
    font-size: 1.3rem;
    opacity: 0.7;
    color: #ffffffce;
}
.btn-donate {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5rem;
    cursor: pointer;
    padding: 0.9em 1.4rem;
    margin-top: 10px;
    width: 180px;
    margin-left: 30px;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  .btn-donate:hover {
    background-position: right top;
  }
  
  .btn-donate:is(:focus, :focus-within,:active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn-donate {
      transition: linear;
    }
  }
  
  .profile-img{
    border: 5px solid rgb(0, 187, 255, 0.5);
    box-shadow: rgba(0, 119, 255, 0.3) 0px 0px 0px 3px;
    border-radius: 10px;
  }
  .youtube-button{
    text-decoration: none;
    width: 180px;
    color: #fff;
    text-align: center;
  }

  @media (width <= 1100px){
    .contact-info{
      margin-top: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 60px;
      padding-left: 50px;
      padding-right: 50px;
      align-items: center;
  }
  .youtube-desc{
    width: 100%;
}
  }