@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400&family=Dosis:wght@300;400&family=Laila:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Philosopher&family=Source+Code+Pro:wght@300;400&display=swap");
.hero {
  text-align: center;
  padding-top: 200px;
  user-select: none;
}

.im,
.hii {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  color: #ffffffb1;
}
.hero-name {
  font-family: "Laila", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  position: relative;
  letter-spacing: 2px;
  color: #2CDEBE;
}
.hifhen {
  font-size: 2rem;
  position: relative;
  top: -8px;
  padding: 10px;
  color: #ffffff82;
}
.hero-services {
  font-family: "Catamaran", sans-serif;
  font-size: 2.7rem;
  color: #E0F1F5;
  letter-spacing: 1px ;
  /* color: #C4B1F1; */
  
}
.scrolldown-img {
  position: relative;
  margin-top: 280px;
  align-self: center;
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.description {
  font-size: 1.25rem;
  opacity: 0.45;
  color: #FDF7FF;
  letter-spacing: 0.6px;
  font-family: sans-serif;
}
