* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080020;
  height: 100%;
}
body::-webkit-scrollbar {
  background-color: #080020;
}
body::-webkit-scrollbar-thumb {
  background: #00abd1;
  /* border: 2px solid #00ffbf; */
  border-radius: 5px;
}
.sec-head {
  color: #48EDCA;;
  font-weight: 600;
}
