* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}
body {
  background: #002E64;
  height: 100%;
}
body::-webkit-scrollbar {
  background-color: #002E64;
}
body::-webkit-scrollbar-thumb {
  background: rgb(103, 240, 247);
  border: 3px solid rgb(0, 225, 255);
  border-radius: 5px;
}
.sec-head {
  color: #48EDCA;;
  font-weight: 600;
}
