.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 250px;
  padding-top: 100px;
  flex-direction: column;
  user-select: none;
}
.projects-head {
  font-family: "Catamaran", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 40px;
  width: 100%;
}

.project-cards{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.link{
  text-decoration: none;
  font-family: sans-serif;
}

.project {
  --bg: #ffffff;
  --hover-bg: #d3fdfc;
  --hover-text: #E50087;
  text-align: center;
  max-width: 450px;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project-description {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project > :not(span) {
  transition: .3s cubic-bezier(.6,.4,0,1);
}

.project > strong {
  display: block;
  font-size: 1.4rem;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: -.035em;
}

.project span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6,.4,0,1);
}

.project:hover span {
  top: 0;
  font-size: 1.2em;
}

.project:hover {
  cursor: pointer;
  background: var(--hover-bg);
}

.project:hover>div,.project:hover>strong {
  opacity: 0;
}
