.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 250px;
  padding-top: 100px;
  flex-direction: column;
  user-select: none;
}
.skills-head {
  font-family: "Catamaran", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 40px;
  width: 100%;
}

.skill-cards{
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.skill-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.card {
  --bg: #ffffff;
  --hover-bg: #ffe5f4;
  --hover-text: #e50087;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card__body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
}

.card > :not(span) {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card:hover{
  cursor: pointer;
  transform: translateY(-5px);
}